@using LEDE.Domain.Entities
@model FacultySummaryModel

<table class="table">
    <tr>
        <th>Candidate</th>
        @foreach (Task task in Model.CohortTasks)
        {
            <th>@task.TaskCode</th>
        }
    </tr>
    @foreach (FacultySummaryRow row in Model.Rows)
    {
        <tr>
            <td>
                @Html.ActionLink(row.Candidate.LastName + ", " + row.Candidate.FirstName, "Student", "Report",
                new { UserID = row.Candidate.Id, ProgramCohortID = Model.ProgramCohortID }, null)
            </td>
            @foreach (LatestVersion version in row.LatestVersions)
            {
                if (version.VersID != null)
                {
                    <td class="@version.RatingStatus">
                        @Html.ActionLink("V" + version.Version, "Rate", "Rating", new { VersID = version.VersID }, null)
                    </td>
                }
                else
                {
                    <td></td>
                }
            }            
        </tr>
    }

</table>
