@using LEDE.Domain.Entities
@model CohortDropDown
@section css {
    <style>
        .LoadPlaceholder{
            text-align:center;
        }
    </style>
}
@{
    ViewBag.Title = "Summary";
    AjaxOptions opts = new AjaxOptions()
    {
        Url = Url.Action("SummaryTable"),
        UpdateTargetId = "SummaryTable",
        LoadingElementId = "ajaxgif"
    };
}

<h2>Candidate Submissions</h2>
@using (Ajax.BeginForm(opts))
{
    @Html.DropDownListFor(model => model.ProgramCohortID, Model.UserCohorts, 
    new { @class = "form-control", style="display:inline;"});
    <input id="submit" type="submit" value="Go" class="btn btn-default" />
}
<div class="LoadPlaceholder">
    <img id="ajaxgif" src="~/Images/ajax-loader.gif" alt="Loading..." style="display:none;"/>
</div>
<div id="SummaryTable">
@if(Model.ProgramCohortID > 0){
    @Html.Action("SummaryTable", new { ProgramCohortID = Model.ProgramCohortID})
}
</div>
@section script {
<script type="text/javascript">
    $(function(){
        $('#submit').on('click', function (e) {
            $('#SummaryTable').empty(); 
        });
    });
    </script>
}