@using LEDE.Domain.Entities
@model RatingViewModel

<h3>Impact Type Ratings</h3><input type="submit" value="Add" class="btn btn-default" id="addimpact"/>
@{
    string impactDisplay = "none";
    if (Model.Rating.ImpactRating != null || Model.ImpactVisible == true)
    {
        impactDisplay = "";
    }
}
<table class="table" style="display:@impactDisplay" id="impacttable">

        <tr>
            <th>Structures & Operations</th>
            <th>Professional Practices</th>
            <th>Student Learning</th>
            <th></th>
        </tr>

        <tr>
            <td>@Html.TextBoxFor(model => model.Rating.ImpactRating.Sscore, new { @class = "form-control" })</td>
            <td>@Html.TextBoxFor(model => model.Rating.ImpactRating.Pscore, new { @class = "form-control" })</td>
            <td>@Html.TextBoxFor(model => model.Rating.ImpactRating.Lscore, new { @class = "form-control" })</td>
            <td>
                @if(Model.Rating.ImpactRating != null)
                {
                    AjaxOptions opts = new AjaxOptions()
                    {
                        Url = Url.Action("Clear", new { VersID = Model.VersID, RatingID = Model.Rating.ImpactRating.RatingID, Type = "Impact" }),
                        UpdateTargetId = "impactratings"
                    };
                    @Ajax.ActionLink("Clear", "Clear", new { VersID = Model.VersID, RatingID = Model.Rating.ImpactRating.RatingID, Type = "Impact" }, 
                    opts, null)
                }
                else
                {
                    <input type="submit" name="submitCommand" class="btn btn-default" value="Cancel" id="cancelimpact"/>
                }
            </td>
        </tr>
</table>


