@using LEDE.Domain.Entities
@model RatingIndexModel
@{
    ViewBag.Title = "Feedback";
    AjaxOptions ajaxopts = new AjaxOptions
    {
        UpdateTargetId = "tbody",
        Url = Url.Action("GetIndexData")
    };
}
@section script {
    <script type="text/javascript">
        $(document).ready(function() {
            $('.upload').magnificPopup({
                type: 'ajax',
                closeOnBgClick: false,
                closeOnContentClick: false
            });
        });
    </script>
}

@section css{
}

<h2>Tasks</h2>

    @using (Ajax.BeginForm(ajaxopts))
    {
        @:Select a Candidate: @Html.DropDownListFor(x => x.SelectedUserID, Model.Candidates, 
        new { onchange = "this.form.submit();", @class = "form-control" })
    }

<br />
<table class="table table-striped">
    <thead><tr><th>Task</th><th>Version</th><th>Document</th><th>Date Modified</th><th>Feedback Document</th><th>Date Modified</th><th></th><th></th></tr></thead>
    <tbody id="tbody">
        @Html.Action("GetIndexData", new { UserID = Model.SelectedUserID })
    </tbody>
</table>
