@using LEDE.Domain.Entities
@model RatingViewModel

<h3>Seminar Core Topic Ratings</h3>
@Html.HiddenFor(x => x.VersID)
    <table class="table" title="Task Core Ratings">
        <tr>
            <th>
                Core Topic
            </th>
            <th>
                Conceptual
            </th>
            <th>
                Strategic
            </th>
            <th>
                Personal
            </th>
            <th></th>
        </tr>
        @Html.EditorFor(model => model.Rating.TaskCoreRatings)
        @if (!Model.Rating.TaskCoreRatings.Any())
        {
            <tr>
                <td colspan="5">No Core Topics For This Seminar</td>
            </tr>
        }
    </table>
