<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>        
        <allow roles="Candidate"/>
        <deny users="*"/>
      </authorization>
    </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Tasks.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
