@using LEDE.Domain.Entities;
@model IEnumerable<ProgramCohort>
@{
    ViewBag.Title = "Index";
    AjaxOptions CohortOptions = new AjaxOptions()
    {
        UpdateTargetId = "CohortDetails",
        LoadingElementId = "loading",
        Url = Url.Action("CohortUsers")
    };
}
@section css{
<link rel="stylesheet" href="~/Content/EditPanel.css" type="text/css" />
}

<div class="panel panel-default" style="margin-top:20px;">
    <h2>Cohort Enrollment</h2>
    <table class="table table-condensed" id="CohortTable">
        <tr class="first">
            <th width="33%">Program</th>
            <th width="33%" style="text-align:center">Academic Year</th>
            <th width="33%"></th>
        </tr>
        @foreach (ProgramCohort cohort in Model)
        {
            using (Ajax.BeginForm(CohortOptions))
            {
                @Html.Hidden("ProgramCohortID",cohort.ProgramCohortID)
                <tr>
                    <td class="first">@cohort.Program.ProgramTitle</td>
                    <td style="text-align:center">@cohort.AcademicYear</td>
                    <td><input type="submit" value="Edit" class="btn btn-sm edit" /></td>
                </tr>
            }
        }
    </table>
</div>
<div id="loading" style="display:none; margin-left:auto;margin-right:auto;text-align:center">
    <img src="~/Images/ajax-loader.gif" alt="Loading..." />
</div>
<div id="CohortDetails">
    @{int ProgramCohortID = Convert.ToInt32(ViewBag.ProgramCohortID);}
    @if (ProgramCohortID > 0)
    {
        @Html.Action("CohortUsers", new { ProgramCohortID = ProgramCohortID})
    }
</div>

@section script{
    <script src="~/Scripts/EditPanel.js"></script>
}