@model LEDE_MVC.Models.LEDE.TaskRating

@{
    ViewBag.Title = "Task Evaluation";
}

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm("Select", "TaskRatings", FormMethod.Post, new {id = "DropForm" }))
{
    @Html.AntiForgeryToken()
    <h4>Choose Task</h4>

    @Html.DropDownList("Id", null, "Select User", new {onchange = "document.getElementById('DropForm').submit();"})    
        
}
    
        
    
