@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
			<li><!--Make this a link when user account settings are implemented--><span class="greeting navbartext">Welcome @User.Identity.GetUserName()</span></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login","Login","Account")</li>
    </ul>
}
