@using LEDE.Domain.Entities;
@model IEnumerable<ProgramCohort>
@{
    ViewBag.Title = "Index";
    AjaxOptions CohortOptions = new AjaxOptions()
    {
        UpdateTargetId = "CohortDetails",
        LoadingElementId = "loading",
        Url = Url.Action("CohortUsers")
    };
}
@section css{
    <style>
        .selected {
            background-color: #F9F9F9;
        }
    </style>

}
<h2>Cohort Enrollment</h2>

<div class="panel panel-default">
    <h3>Program Cohorts</h3>
    <table class="table table-condensed" id="CohortTable">
        <tr class="first">
            <th width="33%">Program</th>
            <th width="33%" style="text-align:center">Academic Year</th>
            <th width="33%"></th>
        </tr>
        @foreach (ProgramCohort cohort in Model)
        {
            using (Ajax.BeginForm(CohortOptions))
            {
                @Html.Hidden("ProgramCohortID",cohort.ProgramCohortID)
                <tr>
                    <td>@cohort.Program.ProgramTitle</td>
                    <td style="text-align:center">@cohort.AcademicYear</td>
                    <td><input type="submit" value="Edit" class="btn btn-sm edit" /></td>
                </tr>
            }
        }
    </table>
</div>
<div id="loading" style="display:none; margin-left:auto;margin-right:auto;text-align:center">
    <img src="~/Images/ajax-loader.gif" alt="Loading..." />
</div>
<div id="CohortDetails">
    @{int ProgramCohortID = Convert.ToInt32(ViewBag.ProgramCohortID);}
    @if (ProgramCohortID > 0)
    {
        @Html.Action("CohortUsers", new { ProgramCohortID = ProgramCohortID})
    }
</div>

@section script{
    <script type="text/javascript">
        $(function () {
            $('.edit').on('click', function () {
                selectedrow = $(this).parent().parent();
                selectedrow.attr('class', 'selected');
                selectedrow.siblings('.selected').attr('class', '');
                selectedrow.siblings(':not(.first)').hide().slideUp();

                var $cancelEdit = $('<button id="cancelEdit" class="btn btn-sm">Change</button>');
                $(this).after($cancelEdit);
                $(this).css('display', 'none');

                $('#cancelEdit').on('click', function () {
                    selectedrow = $(this).parent().parent();
                    selectedrow.siblings(':not(.first)').toggle();
                    $(this).siblings().css('display', 'inline');
                    $(this).remove();
                });               
            });
        });
    </script>
}