@using LEDE.Domain.Entities
@model SummaryModel
@section css {
    <style>
        table {
            table-layout: fixed;
        }

        table .coretopic {
            width: 300px;
        }
        .cscore, .sscore, .pscore {
            width: 100%;
            display: inline-block;
        }

        .inlinedrop {
            display: inline;
            float: left;
        }

        #ajaxspinner {
            display: none;
        }

        .ajaximage {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding-top: 10px;
        }

        .dropcol {
            padding-left: 10px;
            margin-left: 8px;
        }
    </style>
}
@section script {
    <script type="text/javascript">
        $('#cohortdrop').on('change', function () {
            $(this).parent().submit();
        })
    </script>
}
@{
    AjaxOptions CandidateOpts = new AjaxOptions()
    {
        Url = Url.Action("SummarySpreadSheet"),
        UpdateTargetId = "spreadsheet",
        LoadingElementId = "ajaxspinner"
    };
}
<h2>Summary</h2>
<div class="row">
    <div class="col-md-3 dropcol">
        Program Cohort
        @using (Html.BeginForm())
        {
            @Html.DropDownListFor(model => model.ProgramCohortID, Model.ProgramCohorts, new
       {
           @class = "form-control",
           id = "cohortdrop"
       });

        }
    </div>
    @using (Ajax.BeginForm(CandidateOpts))
    {
        <div class="col-md-3 droplabel">
            Candidate
            @Html.HiddenFor(model => model.ProgramCohortID)
            @Html.DropDownListFor(model => model.UserID, Model.Candidates, new { @class = "form-control inlinedrop" })
        </div>
        <div class="col-md-1">
            <br /><input type="submit" value="Go" class="btn btn-default dropgo" />
        </div>
    }
</div>

<div class="ajaximage"><img id="ajaxspinner" src="~/Images/ajax-loader.gif" /></div>

<div id="spreadsheet"></div>
