@using LEDE.Domain.Entities
@model SummaryModel
@section css {
    <style>
        .cscore, .sscore, .pscore {
            display:block;
        }
    </style>
}
@{
    AjaxOptions CandidateOpts = new AjaxOptions()
    {
        Url = Url.Action("SummarySpreadSheet"),
        UpdateTargetId = "spreadsheet",
        LoadingElementId = "ajaxspinner"
    };
}
<h2>Summary</h2>
@using (Html.BeginForm())
{
    @Html.DropDownListFor(model => model.ProgramCohortID, Model.ProgramCohorts, new {@class ="form-control" })

}
@using (Ajax.BeginForm(CandidateOpts))
{
    Html.HiddenFor(model => model.ProgramCohortID);
    Html.DropDownListFor(model => model.UserID, Model.Candidates, new { @class = "form-control" });
    <input type="submit" value="Go" class="btn btn-default"/>
}

<div id="spreadsheet">
    <img id="ajaxspinner" src="~/Images/ajax-loader.gif" style="display:none;" />
</div>
