<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>        
        <allow roles ="Faculty"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="TaskEvaluation.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
